<h1 style="color: red;">########################## PART3 - DIRETIVAS ##########################</h1>
<app-diretivas>
  <p>Teste de conteúdo</p>
</app-diretivas>
<hr>
<h1 style="color: red;">########################## PART2 - DATA BINDING ##########################</h1>
<app-databinding></app-databinding>
<hr>
<h1 style="color: red;">########################## PART 1 - BASE ##########################</h1>
<app-title *ngIf="exibeTitle" title="Olá Mundo!!!"></app-title>
<button (click)="destroiComponent()">Destroi Título</button>
